<% form_for @user, :html => { :multipart => true } do |f| %>
  
  <label for="user_email">Username:</label><br />
  <%= f.text_field :email %><br />

  <label for="user_first_name">First Name:</label><br />
  <%= f.text_field :first_name %><br />

  <label for="user_middle_name">Middle Name:</label><br />
  <%= f.text_field :middle_name %><br />

  <label for="user_last_name">Last Name:</label><br />
  <%= f.text_field :last_name %><br />
  
  <label for="user_password">Password:</label><br />
  <%= f.password_field :password %><br />
  
  <label for="user_password_confirmation">Password Confirmation:</label><br />
  <%= f.password_field :password_confirmation %><br />

  <%= f.hidden_field :role, :value => 0 %>

  <%= submit_tag "Signup" %>
<% end %>
