<% form_for @member, :url => encoder_members_path do |m| %>
  <% @member.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>


      <td>
        <%= m.text_field :first_name, { :size => 10, :value => "First Name"} %>
      </td>
      <td>
        <%= m.text_field :last_name, { :size => 10, :value => "Last Name"} %>
      </td>
      <td>
        <%= m.select :school_id, options_from_collection_for_select(@schools.sort_by(&:name), 'id', 'name') %>
        <%= text_field_tag :new_school, "Type in school here if not available above" %>
      </td>
      <td>
        <%= m.select :area_id, options_from_collection_for_select(@areas.sort_by(&:name), 'id', 'name') %>
        <%= text_field_tag :new_area, "Type in area here if not available above" %>
      </td>
      <td>
        <%= m.select :year_level, options_for_select(Member::YEAR_LEVEL.sort{ |a, b| -1*(b[1] <=> a[1]) }) %><br/>
      </td>
      <td>
        <%= m.text_field :course_section, { :size => 15, :value => "Course / Section"}%>
      </td>
      <td>
        <%= m.select :locale_id, options_from_collection_for_select(@locales.sort_by(&:name), 'id', 'name') %>
        <%= text_field_tag :new_locale, "Type in locale here if not available above" %>
      </td>
      <td>
        <%= m.text_field :zone_group, { :size => 5, :value => "Prk-Grp"} %>
      </td>
      <td>
        <%= m.select :circle_id, options_from_collection_for_select(@circles, 'id', 'name') %>
      </td>
      <td>
        <%= m.text_field :contact_number, { :size => 11, :value => "Contact No"} %>
      </td>
      <td>
        <%= m.submit "CREATE" %>
      </td>
    </tr>

  <%= m.hidden_field :encoder_id, :value => @user.id %>
<% end %>
