
<table class="entries">
  <tr id="entries_header">
      <td>
        FIRST NAME
      </td>      
      <td>
        LAST NAME
      </td>
      <td>
       SCHOOL
      </td>
      <td>
        AREA OF SCHOOL
      </td>
      <td>
        YR-LVL
      </td>
      <td>
        COURSE / SECTION
      </td>
      <td>
        LOCALE
      </td>
      <td>
       PRK-GRP
      </td>
      <td>
        KAPISANAN
      </td>
      <td>
        CONTACT NO
      </td>
      <td>

      </td>
    </tr>

  <% @members.each do |m| %>
    <tr class="entry">
      <td>
        <%= m.first_name %>
      </td>
      <td>
        <%= m.last_name %>
      </td>
      <td>
        <%= m.school.name %>
      </td>
      <td>
        <%= m.area.name %>
      </td>
      <td>
        <%= Member::YEAR_LEVEL.invert[m.year_level] %>
      </td>
      <td>
        <%= m.course_section %>
      </td>
      <td>
        <%= m.locale.name %>
      </td>
      <td>
        <%= m.zone_group %>
      </td>
      <td>
        <%= m.circle.name %>
      </td>
      <td>
        <%= m.contact_number %>
      </td>
      <td>
        <%= button_to "delete", encoder_member_path(m), :method => :delete, :class => "header_link" %>
      </td>
    </tr>
  <% end %>
    <tr class="form_new">
      <%= render :partial => 'new' %>
    <tr>
</table>

<% link_to "new member", new_encoder_member_path %>
